<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Scooter Publicadas</h4>
                    </div>
                    <div  *ngIf="this.scotter.estado=='RESERVADA'">
                      <p>No tienes scooter publicadas</p>
                      <button type="button" class="btn btn-primary btn-fill"
                      [routerLink]="['/producto/crear']"                  >Vender Scooter</button>
                    </div>
                    <div class="content table-responsive table-full-width" *ngIf="this.scotter.estado=='DISPONIBLE'">
                        
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Id Scooter</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Valor</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{scotter.id}}</td>
                                    <td>{{scotter.marca}}</td>
                                    <td>{{scotter.modelo}}</td>
                                    <td>{{scotter.precio}}</td>
                                    
                                    <td>
                                        <button type="button" class="btn btn-danger btn-fill"
                                            (click)="eliminar()">Eliminar Scooter</button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-fill"
                                          [routerLink]="['/rate', scotter.id]">Actualizar Scotter</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
  
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
