<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 id="h4">Gestionar Compra Scooter</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Precio</label>
                                        <input type="number" class="form-control" disabled id="precio"
                                            name="precio" [(ngModel)]="scooter.precio">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Ciudad de Destino</label>
                                        <input type="text" class="form-control" id="ciudadDestinoEnvioScotter"
                                            name="ciudadDestinoEnvioScotter" [(ngModel)]="ciudadDestinoEnvioScotter">

                                    </div>
                                </div>
                            </div>
                           <div class="row">
                                <div class="col-md-6 ">
                                    <a routerLink="/producto/listar/" class="btn btn-default btn-fill"
                                        role="button" id="btnCancelar">Cancelar</a>
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-info btn-fill " (click)="comprar()" id="btnComprar"
                                        >Comprar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card ml-2">
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Fecha de Compra</label>
                                <input type="date" class="form-control" id="fecha" name="fecha" 
                                    [(ngModel)]="fecha" required  max="{{fecha1}}">
                            </div>
                        </div>
                    </div>
                    <div>
                        <img class="imagen" src="{{scooter.foto}}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>