<div class="container" style="background-image: image(assets/img/scooter2);"> 
  <div class="row mt-5 center">
    <div class="col-6">
      <h3 id="h3">Bienvenido a Scooter Planet</h3>
      <form class="mt-5">
        <input type="text" class="form-control" placeholder="username" id="username" name="username" [(ngModel)]="username" required><br>
        <a class="btn btn-primary btn-md btn-fill" role="button" aria-pressed="true"
         (click)="login()">Ingresar</a>
        <br><br>
        <button class="btn btn-primary btn-fill btn-rounded" type="button" [routerLink]="['/usuario/crear']">Crear Usuario</button>
      </form>
    </div>
    <div class="col-6">
      <img src="assets/img/scooter2.jpg" class="img-fluid w-100" alt="">
    </div>
  </div>
</div> 
