<div class="container mt-5">
    <div class="row center">
      <div class="col-6">
        <h3 id="h3">Actualizar Datos</h3>
        <form>
          <label>Username</label>
          <input validar type="text" disabled id="username" name="username" placeholder="username" class="form-control"
          [(ngModel)]="user.username">
          <br>
          <label>Nombre Completos y apellidos</label>
          <input validar type="text" id="nombre" name="nombre" placeholder="Nombre completo y apellidos" class="form-control"
          [(ngModel)]="user.nombre">
          <br>
          <label>Celular</label>
          <input validar type="number" id="celular" name="celular" placeholder="Celular" class="form-control"
          [(ngModel)]="user.celular">
          <br>
          <label>Email</label>
          <input validar type="mail" id="email" name="email" placeholder="Email" class="form-control"
          [(ngModel)]="user.email">
          <input validar type="text"  id="id" name="id" class="form-control invisible"
          [(ngModel)]="user.id">
          <br>        
          <button class="btn btn-primary btn-fill" role="button" (click)="cerar()" id="btnActUser">Actualizar Usuario</button>
          <br>
          <a  class="btn btn-default btn-fill" role="button" [routerLink]="['producto/listar']" id="btnCancelar">Cancelar</a>
      
        </form>
      </div>
      <div class="col-6  mt-5">
        <img src="assets/img/scooter3.jpg" class="img-fluid w-100" alt="">
      </div>
    </div>
  </div>
